.chat-container {
}

.chat {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: var(--font);
  font-size: 14px;
}

.message {
  margin-bottom: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 80%;
  color: white;
}

.message-received {
  background: var(--accent-pink);
  align-self: flex-start;
}

.message-sent {
  background: var(--accent-blue);
  align-self: flex-end;
}
